.hero-container {
  background-image: url("../assets/loan-bg.jpg"); /* Path to your background image */
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-content {
  background: rgba(
    0,
    0,
    0,
    0.5
  ); /* Semi-transparent background for better text readability */
  padding: 20px;
  border-radius: 10px;
}

.hero-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.hero-btn {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1.2em;
  transition: background-color 0.3s ease;
}

.hero-btn:hover {
  background-color: #0056b3;
}
